@import "loading-btn";
@import "sidebar";

.footer:not(.footer-big) nav > ul li.bc-step {
  position: relative;
  padding-right: 15px;

  &::after {
    content: "|";
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 19px;
    color: #eff1f4;
  }
}